<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/in-app-svgs/person-logo.svg" class="person-icon">
  <div class="center-div">
    <ion-text class="font title">Contribute</ion-text>
    <ion-text class="font2 subtitle">Spread the Word</ion-text>
    <ion-text class="font2 body-text">The best way to help this project succeed is to share it with everyone you know. 
      The more people take the surveys and provide feedback the stronger the tool will be for everyone. 
      Go ahead and hit the button to share this with your friends!</ion-text>
    <ion-button shape="round" class="font2 share button">share</ion-button>  
    <ion-text class="font2 subtitle">Become a Partner</ion-text>
    <ion-text class="font2 body-text">We are looking for people who are eager to contribute more directly to this project. Key areas where this project can use your support:</ion-text>
    <ul class = "list-div">
      <li class="font2 bullets">Knowledge of Anti-racism Training</li>
      <li class="font2 bullets">Recruitment firms interested in applying archetype diversity to their hiring process</li>
      <li class="font2 bullets">Companies and teams intenrested in new features</li>
      <li class="font2 bullets">Financial support and investors</li>  
    </ul>
    <ion-button shape="round" class="font2 submit button">submit info</ion-button>  
  </div>
  
  </ion-content>
