<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quiz">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>My Results</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contribute">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Donate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>