<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quiz">
      <ion-icon src="assets/in-app-svgs/list-icon.svg"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results">
      <ion-icon src="assets/in-app-svgs/clipboard-check-icon.svg"></ion-icon>
      <ion-label>My Results</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contribute">
      <ion-icon src="assets/in-app-svgs/donate-icon.svg"></ion-icon>
      <ion-label>Donate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon src="assets/in-app-svgs/help-icon.svg"> </ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>