<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questionnaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questionnaire</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="question-div">
    <ion-text class="question-text">{{question?.text}}</ion-text>
  </div>
  <div>
    <ion-button id="3" (click)="nextQuestion(3)" class="answer-button">Strongly Agree</ion-button>
    <ion-button id="2" (click)="nextQuestion(2)" class="answer-button"> Agree</ion-button>
    <ion-button id="1" (click)="nextQuestion(1)" class="answer-button">Disagree</ion-button>
    <ion-button id="0" (click)="nextQuestion(0)" class="answer-button">Strongly Disagree</ion-button>
  </div>

</ion-content>