.attribute-ion-card{
    min-height: 2rem;
    border-radius: 3px;
    padding-left: 10px;
    vertical-align: center;
}
.subtitle{
    font-size: large;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}
.middletext{
    font-size: medium;
    font-style: normal;
    width:100%;
    text-align: center;
    top:50%;
}
.attribute-label{
    margin: auto 0;
    text-transform: capitalize;
}
.ratio-label{
    display: inline;
}